.cart h1 {
  background-color: #FAA916;
  padding: 10px;
  border-radius: 10px;
}

.cart-instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.quantity-controls {
  display: flex;
}

.quantity-controls h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.quantity-controls button {
  font-size: large;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.no-margin {
  margin: 0;
}