
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}
.container .title {
  font-size: 2.5rem;
}
.container .paragraph {
  text-indent: 1rem;
  margin: 1rem 10rem;
}
@media (max-width:900px) {
  .container .paragraph {
    margin: 1rem 3rem;
  }
}
@media (max-width:600px) {
  .container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  .container .title {
    margin: 1rem;
  }
  .container .slogan {
    text-align: center;
  }
}