.title-card {
  margin-bottom: 100px;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-arrow-left {
  font-size: 1.7rem;  
  border-top: 1px solid transparent;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid transparent;  
  padding: 6px 10px;
  border-radius: 50%;
}
.fa-arrow-left:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid black;
  padding: 5px 10px 1px;
  cursor: pointer;
}
.fa-arrow-left:active {
  border-top: 1px solid transparent;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid transparent;  
  padding: 6px 10px;
  cursor: default;
}
.feature-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-info h1 {
  text-decoration: underline;
}

.feature-image {
  width: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.instrument-data {
  text-align: left;
}

.add-to-cart:hover {
  cursor: pointer;
}

.add-to-cart:active {
  cursor: default;
}
.other-info {
  margin: 5rem;
  display: flex;
  flex-direction: column;
}
@media (max-width:600px) {
  .title-card {
    width: 200px;
  }
  .other-info {
    margin: 1rem;
    font-size: small;
  }
  .feature-image {
    width:150px
  }
  .feature-info {
    margin-left: auto;
  }
}