.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-form {
  display: flex;
}

.user-labels {
  display: flex;
  flex-direction: column;
}

.user-inputs {
  display: flex;
  flex-direction: column;
}

.user-input {
  margin: 10px;
}

.user-label {
  margin: 12.7px 0;
}

button {
  margin: 10px 0;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid #1B1B1E;
  background-color: #ffd483;
  color: #1B1B1E;
  font-size: small;
}