#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form-label {
  display: flex;
  width: 20rem;
  padding: 1rem;
  justify-content: space-between;
}

.user-form-input {
  
}

.user-form-button {
  width: 8rem;
  font-size: 0.8rem;
}