@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.money {
  color: rgb(0, 168, 0);
  background-color: white;
  border-radius: 10px;
}
.margin-left {
  margin-left: 250px
}
@media (max-width:600px) {
  .margin-left {
    margin-left: auto;
  }
}
.green-button {
  background-color: rgb(112, 186, 0);
  font-size: 1rem;
  border: none;
  color: white;
}
.green-button:active {
  background-color: forestgreen;
}
.email {
  padding: 0;
  margin: 0;
}
.notes {
  display: flex;
  width: 20rem;
  justify-content: space-around;
}

.fa-music {
  font-size: 2rem;
  color: #FAA916;
  -webkit-text-stroke: 1px black;
}

.error {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  cursor: default;
}
a {
  color: #b3790d;
}
a:active {
  cursor: default;
}

:root {
  font-family: 'Josefin Sans';
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  display: none;
}